Repository jr0dd/aws-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/cluster, area/github, area/infrastructure

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/cluster:
  - "cluster/**/*"
area/github:
  - ".github/**/*"
area/infrastructure:
  - "infrastructure/**/*"

fix(container): update image ghcr.io/jr0dd/discord-stock-ticker to 42b9a96
  cluster/apps/discord/stock-ticker/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/jr0dd/puppeteer to 4ae0581
  cluster/apps/discord/puppeteer/helm-release.yaml
Labels: area/cluster

fix(pre-commit): update pre-commit hook lucas-c/pre-commit-hooks to v1.3.1
  .pre-commit-config.yaml
Labels: none

feat(github-release): update oxsecurity/megalinter action to v6.5.0
  .github/workflows/lint.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.160.2
  .github/workflows/renovate.yaml
Labels: area/github

update workflows
  .github/workflows/helm-releases.yaml
  .github/workflows/labels.yaml
Labels: area/github

update hr
  cluster/apps/kube-system/aws-node-termination-handler/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/jr0dd/puppeteer to 4ae0581
  cluster/apps/discord/puppeteer/helm-release.yaml
Labels: area/cluster

fix(pre-commit): update pre-commit hook lucas-c/pre-commit-hooks to v1.3.1
  .pre-commit-config.yaml
Labels: none

feat(github-release): update oxsecurity/megalinter action to v6.5.0
  .github/workflows/lint.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.160.2
  .github/workflows/renovate.yaml
Labels: area/github

Update labels.yaml
  .github/workflows/labels.yaml
Labels: area/github

fix(helm): update chart cilium to 1.12.1
  cluster/apps/kube-system/cilium/helm-release.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.161.0
  .github/workflows/renovate.yaml
Labels: area/github

Update labels.yaml
  .github/workflows/labels.yaml
Labels: area/github

feat(pre-commit): update pre-commit hook zricethezav/gitleaks to v8.11.0
  .pre-commit-config.yaml
Labels: none

fix(container): update image ghcr.io/jr0dd/discord-stock-ticker to 4d965c5
  cluster/apps/discord/stock-ticker/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/jr0dd/puppeteer to v16.1.1
  cluster/apps/discord/puppeteer/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/jr0dd/discord-stock-ticker to b8fcec3
  cluster/apps/discord/stock-ticker/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/jr0dd/puppeteer to 7088af0
  cluster/apps/discord/puppeteer/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/jr0dd/discord-stock-ticker to a23cdb9
  cluster/apps/discord/stock-ticker/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/jr0dd/puppeteer to 3e7bdcc
  cluster/apps/discord/puppeteer/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/jr0dd/discord-stock-ticker to 7397bb9
  cluster/apps/discord/stock-ticker/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/jr0dd/puppeteer to 1d157ae
  cluster/apps/discord/puppeteer/helm-release.yaml
Labels: area/cluster

fix(github-release): update renovatebot/github-action action to v32.161.2
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.163.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.164.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.165.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.165.3
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update image ghcr.io/tarampampam/error-pages to v2.18.0
  cluster/apps/kube-system/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.166.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.167.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.168.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.169.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.169.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update oxsecurity/megalinter action to v6.6.0
  .github/workflows/lint.yaml
Labels: area/github

fix(container): update image ghcr.io/jr0dd/discord-stock-ticker to e833128
  cluster/apps/discord/stock-ticker/helm-release.yaml
Labels: area/cluster

feat(container): update image ghcr.io/jr0dd/puppeteer to v16.2.0
  cluster/apps/discord/puppeteer/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/jr0dd/discord-stock-ticker to 6c68d55
  cluster/apps/discord/stock-ticker/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/jr0dd/puppeteer to 4c73039
  cluster/apps/discord/puppeteer/helm-release.yaml
Labels: area/cluster
