Repository jr0dd/aws-gitops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/cluster, area/github, area/infrastructure

.github/labeler.yaml:

---
area/ansible:
  - "infrastructure/ansible/**/*"
area/cluster:
  - "cluster/**/*"
area/github:
  - ".github/**/*"
area/infrastructure:
  - "infrastructure/**/*"

feat(github-release): update renovatebot/github-action action to v32.171.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image ghcr.io/jr0dd/discord-stock-ticker to c7d5774
  cluster/apps/discord/stock-ticker/helm-release.yaml
Labels: area/cluster

fix(container): update image ghcr.io/jr0dd/puppeteer to 9e73c7a
  cluster/apps/discord/puppeteer/helm-release.yaml
Labels: area/cluster

fix(helm): update chart ingress-nginx to 4.2.3
  cluster/apps/kube-system/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.172.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.173.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(pre-commit): update pre-commit hook zricethezav/gitleaks to v8.11.1
  .pre-commit-config.yaml
Labels: none

feat(github-release): update renovatebot/github-action action to v32.174.2
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.177.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(pre-commit): update pre-commit hook zricethezav/gitleaks to v8.11.2
  .pre-commit-config.yaml
Labels: none

feat(github-release): update renovatebot/github-action action to v32.179.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update oxsecurity/megalinter action to v6.7.0
  .github/workflows/lint.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.180.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update renovatebot/github-action action to v32.180.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update oxsecurity/megalinter action to v6.7.1
  .github/workflows/lint.yaml
Labels: area/github

feat(github-release): update renovatebot/github-action action to v32.181.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update fluxcd/flux2 to v0.33.0
  cluster/flux/addons/monitoring/kustomization.yaml
  cluster/flux/repositories/git/flux.yaml
Labels: area/cluster

feat(github-release): update renovatebot/github-action action to v32.182.1
  .github/workflows/renovate.yaml
Labels: area/github

update renovate
  .github/workflows/renovate.yaml
  aws/cert-manager-role.json
  aws/dns-manager-policy.json
  aws/kubernetes-master-policy.json
  aws/kubernetes-master-role.json
  infrastructure/terraform/iam.tf
  infrastructure/terraform/main.tf
  infrastructure/terraform/secret.sops.yaml
  infrastructure/terraform/variables.tf
  infrastructure/terraform/vpc.tf
Labels: area/github, area/infrastructure
